@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&family=Quicksand&family=Raleway&display=swap');

  body {
      font-size: 16px;
      line-height: 1.5;
      height: 100%;
  }
  
  header,nav, main, footer {
      margin: 0 auto;
      max-width: 800px;
      padding: 0.75rem;
  }
  
  img {
      border-radius: 10px;
      margin: auto;
      height: 150px;
  }
  
  header {
      background-color:rgb(12, 120, 163);
      color: whitesmoke;
      display: flex;
      justify-content: center;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-family: 'Poppins', sans-serif;
  }
  
  nav ul li {
      text-align: center;
      margin-right: 40px;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
  }
  
  nav ul li a {
      color: whitesmoke;
      text-decoration: none;
  }
  
  nav {
      background-color:black;
      padding-bottom: 0px;
  }
  
  section ul li {
      font-family: 'Quicksand', sans-serif;
      padding: 5px;
  }
  
  section p {
      font-family: 'Quicksand', sans-serif;
      padding: 5px;
  }
  
  ul {
      list-style-type: none;
  }
  
  h1 {
      line-height: 160px;
      margin: auto;
  }
  
  h2, h3 {
      text-align: center;
  }
  
  h2 {
      font-family: 'Raleway', sans-serif;
  }
  
  section p {
      text-align: center;
  }
  
  footer p {
      text-align: center;
  }
  
  section {
      border: 1px solid grey;
      margin-top: 20px;
      border-radius: 5px;
  }
  
  section h3 {
      background-color:rgb(12, 120, 163);
      color: whitesmoke;
      margin-top: 0px;
      padding: 10px;
      font-family: 'Kanit', sans-serif;
  }
  
  footer {
      background-color: rgb(12, 120, 163);
      color: whitesmoke;
      font-family: 'Quicksand', sans-serif;
  }
  
  footer p:nth-last-of-type(1) {
      color: rgb(44, 230, 37);
  }  